extends ./components/_base-template

block main

    .page-wrapper

        //------------header-------------
        header.header.shift(id='home')
            .container
                .header-inner

                    .header-background
                        img(src="../img/bg-img.png", alt="")

                    
                    
                    //------------title-------------
                    .header-main
                        h1.header-title Ihor Dihtiar
                        .header-subtitle
                            span #Web Developer
                            span #Systems Engineer
                        a.header-hire(href="") Hire Me!

        //------------section about me-------------
        section.about.shift(id="about")
            .container
                .about-inner
                    .about-left-block
                        .info-wrapper
                            h2.info-title About me
                            .info-text Lorem ipsum dolor sit amet, ectetuer nonummy nibh euismod tincidunt ut laoreet  magna  laoreet  aliquam erat volutpat.
                            .info-block
                                .info-block-item
                                    span.key Name : 
                                    span.value Ihor
                                .info-block-item
                                    span.key Age : 
                                    span.value 31 Years
                                .info-block-item
                                    span.key Email : 
                                    span.value ihordihtiar@gmail.com
                                .info-block-item
                                    span.key GitHub : 
                                    span.value github.com/Ihor-Dihtiar
                                .info-block-item
                                    span.key Adress : 
                                    span.value Ukraine, Melitopol
                    .about-right-block
                        .foto
                            img(src="../img/its-me.png", alt="")

        //------------section work experience-------------
        section.experience
            .container
                .experience__inner
                    h2.experience-title Work Experience
                    .experience__body
                        .body__tree
                            img(src="../img/midlle.png", alt="")
                        .body__item.body__item_left
                            .body__note.body__note_creative
                                .note__wrapper
                                    h3.note__position Creative Director
                                    span.note__place @deviserweb
                                    .note__period jan 2013 - dec 2014
                                    p.note__text Lorem ipsum dolor sit amet, consectetur et incididunt ut labore et dolorea.
                            
                            .body__note.body__note_manager
                                .note__wrapper
                                    h3.note__position Manager Director
                                    span.note__place @Academy
                                    .note__period jan 2013 - dec 2014
                                    p.note__text Lorem ipsum dolor sit amet, consectetur et incididunt ut labore et dolorea.
                        .body__item.body__item_right
                            .body__note.body__note_designer
                                .note__wrapper
                                    h3.note__position UI/UX Designer
                                    span.note__place @Academy
                                    .note__period jan 2013 - dec 2014
                                    p.note__text Lorem ipsum dolor sit amet, consectetur et incididunt ut labore et dolorea.

                            .body__note.body__note_ceo
                                .note__wrapper
                                    h3.note__position Ceo & Founder
                                    span.note__place @Starlab
                                    .note__period jan 2013 - dec 2014
                                    p.note__text Lorem ipsum dolor sit amet, consectetur et incididunt ut labore et dolorea.

    //------------menu elements-------------
    .menu-wrapper
        .container
            //------------menu burger button-------------
            button.btn-burger
                .burger-icon
                    span

            //------------side menu-------------
            .side-menu
                .menu-top
                    .menu-top-img
                        img(src="../img/its-me.png", alt="It's me")
                    .menu-top-name Ihor Dihtiar
                    .menu-top-specialty Web Developer
                nav.menu-nav
                    ul
                        li
                            a(href="#home") Home
                        li
                            a(href="#about") About me
                        li
                            a(href="#") Education
                        li
                            a(href="#") Work Experience
                        li
                            a(href="#") Skills
                        li
                            a(href="#") Contacts