extends ./components/_base-template

block main

    .page-wrapper

        //------------header-------------
        header.header.shift(id='home')
            .container
                .header-inner

                    .header-background
                        img(src="../img/bg-img.png", alt="")

                    
                    
                    //------------title-------------
                    .header-main
                        h1.header-title Ihor Dihtiar
                        .header-subtitle
                            span #Web Developer
                            span #Systems Engineer
                        a.header-hire(href="") Hire Me!

        //------------section about me-------------
        section.about.shift(id="about")
            .container
                .about-inner
                    .about-left-block
                        .info-wrapper
                            h2.info__title About me
                            .info-text Lorem ipsum dolor sit amet, ectetuer nonummy nibh euismod tincidunt ut laoreet  magna  laoreet  aliquam erat volutpat.
                            .info-block
                                .info-block-item
                                    span.key Name : 
                                    span.value Ihor
                                .info-block-item
                                    span.key Age : 
                                    span.value 31 Years
                                .info-block-item
                                    span.key Email : 
                                    span.value ihordihtiar@gmail.com
                                .info-block-item
                                    span.key GitHub : 
                                    span.value github.com/Ihor-Dihtiar
                                .info-block-item
                                    span.key Adress : 
                                    span.value Ukraine, Melitopol
                    .about-right-block
                        .foto
                            img(src="../img/its-me.png", alt="")

        //------------section work experience-------------
        section.experience
            .container
                .experience__inner
                    h2.experience__title Work Experience
                    .achievement__body

                        .body__tree
                            img(src="../img/midlle.png", alt="")


                        .body__item.body__item_left
                            .body__note.body__note_creative
                                h3.note__position Creative Director
                                span.note__place @deviserweb
                                .note__wrapper
                                   
                                    .note__period jan 2013 - dec 2014
                                    p.note__text Lorem ipsum dolor sit amet, consectetur et incididunt ut labore et dolorea.
                            
                            .body__note.body__note_manager
                                h3.note__position Manager Director
                                span.note__place @Academy
                                .note__wrapper
                                    
                                    .note__period jan 2013 - dec 2014
                                    p.note__text Lorem ipsum dolor sit amet, consectetur et incididunt ut labore et dolorea.


                        .body__item.body__item_right
                            .body__note.body__note_designer
                                h3.note__position UI/UX Designer
                                span.note__place @Academy
                                .note__wrapper
                                    
                                    .note__period jan 2013 - dec 2014
                                    p.note__text Lorem ipsum dolor sit amet, consectetur et incididunt ut labore et dolorea.

                            .body__note.body__note_ceo
                                h3.note__position Ceo & Founder
                                span.note__place @Starlab
                                .note__wrapper
                                    
                                    .note__period jan 2013 - dec 2014
                                    p.note__text Lorem ipsum dolor sit amet, consectetur et incididunt ut labore et dolorea.

        //------------section education-------------
        section.education
            .container
                .education__inner
                    h2.education__title Education
                    .achievement__body

                        .body__tree
                            img(src="../img/midlle.png", alt="")


                        .body__item.body__item_left

                            .body__note.body__note_creative
                                h3.note__position Bsc in Art Direction
                                span.note__place @Sussex University
                                .note__wrapper
                                    
                                    .note__period jan 2013 - dec 2014
                                    p.note__text Lorem ipsum dolor sit amet, consectetur et incididunt ut labore et dolorea.
                            
                            .body__note.body__note_manager
                                h3.note__position Bachelor Degree
                                span.note__place @Lusofona University
                                .note__wrapper
                                    
                                    .note__period jan 2013 - dec 2014
                                    p.note__text Lorem ipsum dolor sit amet, consectetur et incididunt ut labore et dolorea.


                        .body__item.body__item_right

                            .body__note.body__note_designer
                                h3.note__position Graduation
                                span.note__place @Oxford University
                                .note__wrapper
                                    
                                    .note__period jan 2013 - dec 2014
                                    p.note__text Lorem ipsum dolor sit amet, consectetur et incididunt ut labore et dolorea.

                            .body__note.body__note_ceo
                                h3.note__position High School
                                span.note__place @IT Academy
                                .note__wrapper
                                    
                                    .note__period jan 2013 - dec 2014
                                    p.note__text Lorem ipsum dolor sit amet, consectetur et incididunt ut labore et dolorea.

        //------------section my skills-------------
        section.skills
            .container
                .skills__inner
                    h2.skills__title My Skills
                    .skills__wrapper
                        .skills__elements
                            .elements__column
                                .elements__item
                                    .elements__name User Experience
                                    .elements__scale
                                        .elements__line.elements__line_experience
                                        span.elements__value 90%

                                .elements__item
                                    .elements__name User Interface
                                    .elements__scale
                                        .elements__line.elements__line_ui
                                        span.elements__value 98%

                                .elements__item
                                    .elements__name Web Design
                                    .elements__scale
                                        .elements__line.elements__line_design-70
                                        span.elements__value 70%
                            

                            .elements__column
                                .elements__item
                                    .elements__name User Experience
                                    .elements__scale
                                        .elements__line.elements__line_experience
                                        span.elements__value 90%

                                .elements__item
                                    .elements__name User Interface
                                    .elements__scale
                                        .elements__line.elements__line_ui-80
                                        span.elements__value 80%

                                .elements__item
                                    .elements__name Web Design
                                    .elements__scale
                                        .elements__line.elements__line_design-96
                                        span.elements__value 96%


                            .elements__column
                                .elements__item
                                    .elements__name Communication
                                    .elements__scale
                                        .elements__line.elements__line_communication
                                        span.elements__value 90%

                                .elements__item
                                    .elements__name Team Work
                                    .elements__scale
                                        .elements__line.elements__line_team
                                        span.elements__value 80%

                                .elements__item
                                    .elements__name Dedication
                                    .elements__scale
                                        .elements__line.elements__line_dedication
                                        span.elements__value 96%

        //------------section contacts-------------
        section.contacts
            .container
                .contacts__inner
                    .contacts__form-block
                        .form-block__form
                            .form__title Leave a Message
                            form.form__body
                                .form__all-inputs
                                    .form__inputs-block
                                        input(type="text" placeholder='Name*'  name='name' minlength='2' maxlength='20').form__input
                                        input(type="email" placeholder='Email*'  name='email' maxlength='40').form__input
                                        input(type="text" placeholder='Subject*'  name='subject' maxlength='30').form__input
                                    textarea(placeholder='Message*'  name='message' maxlength='100').form__input.form__input_textarea
                                input.form__button(type='submit' value='Hire me!')

                    .contacts__contact-info
                        .contact-info__body
                            .contact-info__item
                                .contact-info__icon
                                    img(src="../img/home.svg", alt="")
                                .contact-info__text-block
                                    .contact-info__name Location
                                    .contact-info__text Melitopol, Ukraine
                            

                            .contact-info__item
                                .contact-info__icon
                                    img(src="../img/mail.svg", alt="")
                                .contact-info__text-block
                                    .contact-info__name Email
                                    .contact-info__text ihordihtiar@gmail.com
                            

                            .contact-info__item
                                .contact-info__icon
                                    img(src="../img/phone.svg", alt="")
                                .contact-info__text-block
                                    .contact-info__name Toll Free Call
                                    .contact-info__text 0800 234 6578


    //------------menu elements-------------
    .menu-wrapper
        .container
            //------------menu burger button-------------
            button.btn-burger
                .burger-icon
                    span

            //------------side menu-------------
            .side-menu
                .menu-top
                    .menu-top-img
                        img(src="../img/its-me.png", alt="It's me")
                    .menu-top-name Ihor Dihtiar
                    .menu-top-specialty Web Developer
                nav.menu-nav
                    ul
                        li
                            a(href="#home") Home
                        li
                            a(href="#about") About me
                        li
                            a(href="#") Work Experience
                        li
                            a(href="#") Education
                        li
                            a(href="#") Skills
                        li
                            a(href="#") Contacts