@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 700;
  src: local('Proxima Nova'), url(../fonts/ProximaNova-Bold.woff),
    url(../fonts/ProximaNova-Bold.ttf), url(../fonts/ProximaNova-Bold.eot);
}
