@font-face {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), url(../fonts/Raleway-Regular.ttf);
}

@font-face {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 500;
  src: local('Raleway'), url(../fonts/Raleway-Medium.ttf);
}

@font-face {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  src: local('Raleway'), url(../fonts/Raleway-SemiBold.ttf);
}

@font-face {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  src: local('Raleway'), url(../fonts/Raleway-Bold.ttf);
}
