@import './_variables';

// ------------reset styles-------------

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
button,
input,
svg,
span {
  margin: 0;
  padding: 0;
}

a,
button,
input {
  font-family: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

img {
  display: block;
}

input,
textarea {
  border: none;
  outline: none;
  background-color: transparent;
}

ol,
ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}
