// ------------base styles-------------

html {
  scroll-behavior: smooth;
  font-size: 14px;
  line-height: 1.15;
  font-family: 'Raleway', sans-serif, Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: $black;
}

a,
button,
input {
  font-family: inherit;
}

.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 0 65px;
}

// ------------menu button burger-------------

.btn-burger {
  position: absolute;
  left: 25px;
  top: 25px;
  width: 35px;
  height: 25px;
  z-index: 1;
  & .burger-icon {
    position: relative;
    width: 100%;
    height: 100%;
    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 3px;
      background-color: $red;
      transition: all 0.3s;
    }
    &::before {
      left: 0;
      top: 0;
    }
    &::after {
      left: 0;
      bottom: 0;
    }
    & span {
      position: absolute;
      left: 0;
      top: 11px;
      width: 100%;
      height: 3px;
      background-color: $red;
      transition: all 0.3s;
    }
    &.open {
      &::before {
        transform: rotate(45deg);
        top: 11px;
      }
      &::after {
        transform: rotate(-45deg);
        bottom: 11px;
      }
      & span {
        transform: scale(0);
      }
    }
  }
}

// ------------menu-------------

.menu-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  & .container {
    position: relative;
    height: 0;
    padding: 0;
  }
}

.side-menu {
  position: relative;
  width: 275px;
  left: 0;
  top: 0;
  transform: translateX(-100%);
  transition: all 0.4s;
  background-color: $background-dark;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  &.open {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
}

.menu-top {
  height: 221px;
  background-image: linear-gradient(to top, #000000, #069ee3);
  padding-left: 30px;
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  &-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    & img {
      width: 100%;
      object-fit: cover;
      object-position: 0 -50px;
      height: 100%;
    }
  }
  &-name {
    font-size: 32px;
    line-height: 1.15;
    position: relative;
  }
  &-specialty {
    font-size: 16px;
    line-height: 2;
    margin-bottom: 10px;
    position: relative;
  }
}

.menu-nav {
  font-size: 22px;
  color: $white;

  & a {
    padding-left: 30px;
    display: block;
    line-height: 60px;
    border-bottom: 1px solid $border;
    background-color: $background-dark;
    &:hover {
      background-color: #5c5c6e;
    }
  }
}

//------------shift for left margin-------------

.shift {
  transition: margin-left 0.4s;
  &.open {
    margin-left: 275px;
  }
}

//------------achievements with tree image-------------

.achievement__body {
  margin-top: 50px;
  display: flex;
}

.body {
  &__tree {
    order: 2;
    flex-grow: 0;
    flex-shrink: 0;
    & img {
      width: 100%;
      height: 100%;
    }
  }
  &__item {
    flex-grow: 1;
    flex-basis: calc(100% - 42px);
    &_left {
      padding-right: 70px;
      order: 1;
      & .body__note {
        margin-left: auto;
        &_creative {
          margin-top: 96px;
        }
        &_manager {
          margin-top: 190px;
        }
        &::after {
          content: '';
          position: absolute;
          background-color: $background-dark;
          top: 62%;
          left: 99.5%;
          width: 35px;
          height: 30px;
          clip-path: polygon(0 0, 14% 17%, 100% 83%, 9% 90%, 0 100%);
        }
      }
    }
    &_right {
      order: 3;
      padding-left: 70px;
      & .body__note {
        margin-right: auto;
        &_ceo {
          margin-top: 190px;
        }
        &::after {
          content: '';
          position: absolute;
          background-color: $background-dark;
          bottom: 62%;
          right: 99.5%;
          width: 35px;
          height: 30px;
          clip-path: polygon(100% 0, 100% 100%, 86% 83%, 0 17%, 91% 10%);
        }
      }
    }
  }
  &__note {
    max-width: 470px;
    width: 100%;
    height: 147px;
    padding: 15px 20px;
    background-color: $background-dark;
    border-radius: 7px;
    position: relative;
  }
}

.note {
  &__wrapper {
    max-width: 325px;
    width: 100%;
  }
  &__position {
    font-size: 22px;
    line-height: 1.22;
    display: inline-block;
    color: $white;
  }
  &__place {
    font-size: 20px;
    line-height: 1;
    color: $white;
    opacity: 0.8;
    margin-left: 25px;
  }
  &__period {
    font-size: 17px;
    line-height: 2.43;
    font-weight: normal;
    color: $red;
    text-transform: uppercase;
  }
  &__text {
    font-size: 16.5px;
    line-height: 1.42;
    font-weight: normal;
    color: $white;
    opacity: 0.8;
  }
}

//--------------------------------MEDIA QUERIES--------------------------------------------------------------------------------------------

// @media (max-width: 1279px) {
//   .container {
//     padding: 0 30px;
//   }
// }
