// ------------base styles-------------

html {
  scroll-behavior: smooth;
  font-size: 14px;
  line-height: 1.15;
  font-family: 'Raleway', sans-serif, Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: $black;
}

a,
button,
input {
  font-family: inherit;
}

.container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

/*------------menu close button-------------*/

.menu-close {
  position: absolute;
  left: 25px;
  top: 25px;
  width: 35px;
  height: 25px;
  z-index: 1;
  &__cross {
    position: relative;
    width: 100%;
    height: 100%;
    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: $red;
    }
    &::before {
      transform: rotate(45deg);
      top: 11px;
    }
    &::after {
      transform: rotate(-45deg);
      bottom: 11px;
    }
  }
}

// ------------menu-------------

.menu-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  & .container {
    position: relative;
    height: 0;
    padding: 0;
  }
}

.side-menu {
  position: relative;
  width: 275px;
  left: 0;
  top: 0;
  transform: translateX(-100%);
  transition: all 0.6s;
  background-color: $background-dark;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 0 11px 3px #484444;
  overflow-y: auto;
  &.open {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
}

.menu-top {
  height: 221px;
  background-image: linear-gradient(to top, #000000, #069ee3);
  padding-left: 30px;
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  &-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    & img {
      width: 100%;
      object-fit: cover;
      height: 100%;
    }
  }
  &-name {
    font-size: 32px;
    line-height: 1.15;
    position: relative;
    color: #666288;
    font-weight: 600;
  }
  &-specialty {
    font-size: 16px;
    line-height: 2;
    margin-bottom: 10px;
    position: relative;
  }
}

.menu-nav {
  font-size: 22px;
  color: $white;

  & a {
    padding-left: 30px;
    display: block;
    line-height: 60px;
    border-bottom: 1px solid $border;
    background-color: $background-dark;
    transition: 0.4s;
    // ------------media query-------------
    @media screen and (min-width: 1280px) {
      &:hover {
        background-color: #5c5c6e;
      }
    }
  }
}

/*------------button to up-------------*/

.arrow-up {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  background-color: $red;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  & svg {
    fill: white;
    width: 20px;
    height: 20px;
  }
  &.hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  /*------------media queries-------------*/
  @media screen and (min-width: 1024px) {
    &:hover {
      background-color: #712329;
    }
  }
}

//------------achievements with tree image-------------

.achievement__body {
  margin-top: 50px;
  display: flex;
}

.body {
  &__tree {
    order: 2;
    flex-grow: 0;
    flex-shrink: 0;
    & img {
      width: 100%;
      height: 100%;
    }
  }
  &__item {
    flex-grow: 1;
    flex-basis: calc(100% - 42px);
    &_left {
      padding-right: 70px;
      order: 1;
      & .body__note {
        margin-left: auto;
        &_creative {
          margin-top: 96px;
        }
        &_manager {
          margin-top: 190px;
        }
        &::after {
          content: '';
          position: absolute;
          background-color: $background-dark;
          top: 62%;
          left: 99.5%;
          width: 35px;
          height: 30px;
          clip-path: polygon(0 0, 14% 17%, 100% 83%, 9% 90%, 0 100%);
        }
      }
    }
    &_right {
      order: 3;
      padding-left: 70px;
      & .body__note {
        margin-right: auto;
        &_ceo {
          margin-top: 190px;
        }
        &::after {
          content: '';
          position: absolute;
          background-color: $background-dark;
          bottom: 62%;
          right: 99.5%;
          width: 35px;
          height: 30px;
          clip-path: polygon(100% 0, 100% 100%, 86% 83%, 0 17%, 91% 10%);
        }
      }
    }
  }
  &__note {
    max-width: 470px;
    width: 100%;
    height: 147px;
    padding: 15px 20px;
    background-color: $background-dark;
    border-radius: 7px;
    position: relative;
    font-size: 16.5px;
    /*------------media query-------------*/
    @include adapt-fs(768px, 1200px, 14px, 16.5px);
    @include width(1200) {
      height: auto;
    }
  }
}

.note {
  &__wrapper {
    max-width: 325px;
    width: 100%;
  }
  &__position {
    // font-size: 22px;
    font-size: 1.33em;
    line-height: 1.22;
    display: inline-block;
    color: $white;
  }
  &__place {
    // font-size: 20px;
    font-size: 1.21em;
    line-height: 1;
    color: $white;
    opacity: 0.8;
    margin-left: 25px;
  }
  &__period {
    // font-size: 17px;
    font-size: 1.03em;
    line-height: 2.43;
    font-weight: normal;
    color: $red;
    text-transform: uppercase;
  }
  &__text {
    // font-size: 16.5px;
    font-size: 1em;
    line-height: 1.42;
    font-weight: normal;
    color: $white;
    opacity: 0.8;
  }
}

/*------------media queries-------------*/

@include width(768) {
  .container {
    padding: 0 15px;
  }

  .achievement__body {
    flex-wrap: wrap;
  }

  .body {
    &__tree {
      display: none;
    }
    &__item {
      flex-basis: 100%;
      &_left {
        padding-right: 0;
        order: 2;
        & .body__note {
          margin-right: auto;
          &_creative {
            margin-top: 40px;
          }
          &_manager {
            display: none;
          }
          &::after {
            display: none;
          }
        }
      }
      &_right {
        order: 1;
        padding-left: 0;
        & .body__note {
          margin-left: auto;
          &_ceo {
            display: none;
          }
          &::after {
            display: none;
          }
        }
      }
    }
    &__note {
      font-size: 16.5px;
    }
  }
}
