.page-wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

// ------------header-------------

.header {
  & .container {
    padding: 0;
  }
  &-inner {
    height: 586px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow-x: hidden;
  }
  &-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-main {
    position: relative;
  }
  &-title {
    width: 327px;
    height: 74px;
    font-size: 48px;
    line-height: 74px;
    text-align: center;
    color: $white;
    border-top: 2px solid $red;
    border-bottom: 2px solid $red;
  }
  &-subtitle {
    margin: 5px 0 0 0;
    font-size: 18px;
    line-height: 2;
    text-align: center;
    color: $white;
    & span {
      padding: 0 8px;
    }
    & span:first-child {
      border-right: 2px solid $white;
    }
  }
  &-hire {
    display: block;
    width: 170px;
    height: 50px;
    color: $white;
    background-color: $red;
    text-align: center;
    font-size: 22px;
    line-height: 50px;
    border-radius: 5px;
    margin: 34px auto 0;
  }
}

//------------section about me-------------

.about {
  &-inner {
    padding-top: 74px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 80px;
    border-bottom: 2px solid $border-bottom;
    display: flex;
  }
  &-left-block {
    flex-basis: 50%;
    & .info {
      &-wrapper {
        max-width: 400px;
        width: 100%;
        padding-top: 100px;
      }
      @include title;
      &-text {
        margin-top: 50px;
        font-size: 16px;
        line-height: 1.6;
        opacity: 0.8;
      }
      &-block {
        margin-top: 20px;
        max-width: 340px;
        width: 100%;
        background-color: $light-bg;
        &-item {
          line-height: 50px;
          padding-left: 10px;
          font-size: 18px;
          border-bottom: 1px solid $white;
          & .key {
            font-weight: 600;
          }
        }
      }
    }
  }

  &-right-block {
    flex-basis: 50%;
    & .foto {
      max-width: 380px;
      width: 100%;
      height: 100%;
      margin-left: 20px;
      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

//------------section work experience-------------

.experience {
  &__inner {
    padding-top: 80px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 80px;
    border-bottom: 2px solid $border-bottom;
  }
  @include title;
  &__body {
    margin-top: 50px;
    display: flex;
  }
}

.body {
  &__tree {
    order: 2;
    flex-grow: 0;
    flex-shrink: 0;
    & img {
      width: 100%;
      height: 100%;
    }
  }
  &__item {
    flex-grow: 1;
    &_left {
      padding-right: 70px;
      order: 1;
      & .body__note {
        margin-left: auto;
        &_creative {
          margin-top: 96px;
          &::after {
            content: '';
            position: absolute;
            background-color: $background-dark;
            top: 90px;
            left: 99.5%;
            width: 35px;
            height: 30px;
            clip-path: polygon(0 0, 5px 5px, 35px 25px, 3px 27px, 0 30px);
          }
        }
        &_manager {
          margin-top: 190px;
          &::after {
            content: '';
            position: absolute;
            background-color: $background-dark;
            top: 90px;
            left: 99.5%;
            width: 35px;
            height: 30px;
            clip-path: polygon(0 0, 5px 5px, 35px 25px, 3px 27px, 0 30px);
          }
        }
      }
    }
    &_right {
      order: 3;
      padding-left: 70px;
      & .body__note {
        margin-right: auto;
        &_designer::after {
          content: '';
          position: absolute;
          background-color: $background-dark;
          bottom: 90px;
          right: 99.5%;
          width: 35px;
          height: 30px;
          clip-path: polygon(35px 0, 35px 30px, 30px 25px, 0 5px, 32px 3px);
        }
        &_ceo {
          margin-top: 190px;
          &::after {
            content: '';
            position: absolute;
            background-color: $background-dark;
            bottom: 90px;
            right: 99.5%;
            width: 35px;
            height: 30px;
            clip-path: polygon(35px 0, 35px 30px, 30px 25px, 0 5px, 32px 3px);
          }
        }
      }
    }
  }
  &__note {
    max-width: 470px;
    width: 100%;
    height: 147px;
    padding: 15px 20px;
    background-color: $background-dark;
    border-radius: 7px;
    position: relative;
  }
}

.note {
  &__wrapper {
    max-width: 325px;
    width: 100%;
  }
  &__position {
    font-size: 22px;
    line-height: 1.22;
    display: inline-block;
    color: $white;
  }
  &__place {
    font-size: 20px;
    line-height: 1;
    color: $white;
    opacity: 0.8;
    margin-left: 25px;
  }
  &__period {
    font-size: 17px;
    line-height: 2.43;
    font-weight: normal;
    color: $red;
    text-transform: uppercase;
  }
  &__text {
    font-size: 16.5px;
    line-height: 1.42;
    font-weight: normal;
    color: $white;
    opacity: 0.8;
  }
}
